---
import ThemeConfigurator from "../components/ThemeConfigurator.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />

    <title>Hi there!</title>
    <script>
      // Check for saved theme preference, otherwise use system preference
      const theme = localStorage.getItem("theme") || "system";
      if (theme === "system") {
        window
          .matchMedia("(prefers-color-scheme: dark)")
          .addEventListener("change", (e) =>
            e.matches
              ? document.documentElement.classList.add("dark")
              : document.documentElement.classList.remove("dark")
          );
      } else {
        document.documentElement.classList.add(theme);
      }
    </script>
  </head>
  <body class="transition-colors duration-200 dark:bg-neutral-900">
    <ThemeConfigurator />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
